.slick-slider {
   position: relative;
   display: block;
   box-sizing: border-box;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -ms-touch-action: pan-y;
   touch-action: pan-y;
   -webkit-tap-highlight-color: transparent;
}
.slick-list {
   position: relative;
   overflow: hidden;
   display: block;
   margin: 0;
   padding: 0;

   &:focus {
       outline: none;
   }

   &.dragging {
       cursor: pointer;
       cursor: hand;
   }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}

.slick-track {
   position: relative;
   left: 0;
   top: 0;
   display: block;
   margin-left: auto;
   margin-right: auto;

   &:before,
   &:after {
       content: "";
       display: table;
   }

   &:after {
       clear: both;
   }

   .slick-loading & {
       visibility: hidden;
   }
}
.slick-slide {
   
   float: left;
   height: 100%;
   min-height: 1px;
   [dir="rtl"] & {
       float: right;
   }
   img {
       display: block;
   }
   &.slick-loading img {
       display: none;
   }

   display: none;

   &.dragging img {
       pointer-events: none;
   }

   .slick-initialized & {
       display: block;
   }

   .slick-loading & {
       visibility: hidden;
   }

   .slick-vertical & {
       display: block;
       height: auto;
       border: 1px solid transparent;
   }
}
.slick-arrow.slick-hidden {
   display: none;
}




.slick-dots {
   display: flex;
   justify-content: flex-start;
   bottom: 110px;
   margin: 0 auto;
   padding: 0 0 0 40px;
	max-width: 1260px;
   transform: translate(0px, -42px);
   @media (max-width: 767px) {
      padding: 0px 0px 0px 0px;
      justify-content: center;
   }
   li {
      margin: 0px 2px;
      padding: 0px 2px;
      cursor: pointer;
      button {
         vertical-align: middle;
         cursor: pointer;
         font-size: 0px;
         width: 7px;
         height: 7px;
         border-radius: 50%;
         background-color: #E8CB9F;
         &:hover {
            opacity: 0.6;
         }
      }
      &.slick-active {
         button {
            background-color: #fff;
         }
      }
   }
   .slick-active {
      
   }
}

///второй слайдер////////////////////////////////
.slider-comment .slick-dots {
   display: flex;
   justify-content: center;
   bottom: 110px;
   margin: 0 auto;
   padding: 48px 0px 0px 0px;
	max-width: 1260px;
   transform: translate(0px, 0px);
   @media (max-width: 1200px) {
      padding: 30px 0px 0px 0px;
      justify-content: center;
   }
   @media (max-width: 767px) {
      padding: 20px 0px 0px 0px;
      justify-content: center;
   }
   li {
      margin: 0px 0px;
      padding: 0px 2px;
      cursor: pointer;
      button {
         vertical-align: middle;
         cursor: pointer;
         font-size: 0px;
         width: 10px;
         height: 10px;
         border-radius: 50%;
         background-color: #F1F1F1;
         &:hover {
            opacity: 0.6;
         }
      }
      &.slick-active {
         button {
            background-color: #C4C4C4;
         }
      }
   }
   .slick-active {
      
   }
}

